.app{
  display:flex;
  min-height:100vh;
  align-items:stretch;
}
.main{
  flex:1;
  display:flex;
  flex-direction:column;
}
.container{
  padding:24px;
  max-width:1200px;
  margin:18px auto;
  width:100%;
}
@media (max-width:900px){
  .container{padding:12px;margin:10px}
}